<strong>Recovering password</strong>

<p>A password recovery request was made for the e-mail ({{ email }}).</p>
<p>If it was not you, we recommend you to change your password<p>
<p>In order to recover your password, use the token {{ token }} or click the link below:</p>

<a href="{{ link }}">Reset password</a>
