Recovering password

A password recovery request was made for the e-mail ({{ email }}).
If it was not you, we recommend you to change your password
In order to recover your password, use the token {{ token }} or click the link below:

Reset password: {{ link }}
